* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navi{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    font-size: 16px;
    font-weight: 500;
}
.dot-remove{
    list-style: none;
    display: flex;
    gap: 32px;          
    padding: 34px 0; 
    margin: 0;  
}
.navi a {
    text-decoration: none;
    color: #000000;
}


nav .kv-nav {
    padding: 16px 0;
}
nav .btn button{
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
background-color: rgba(70, 145, 101, 1);
padding: 12px 16px;
justify-content: center;
align-items: center;
border: none;
cursor: pointer;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;


}
.hero-section{
  background: url(../assets/hero-bg.png);
  text-align: center;
  padding: 120px ;
  background-repeat: no-repeat;

}
.hero-section h1{
font-style: Bold;
font-size: 72px;
font-weight: 700;
text-align: center;
color: rgba(255, 255, 255, 1);

}
.hero-section p{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}
.hero-section-button {
    display: flex ;
    justify-content: center;
    gap:16px;
    margin-top: 32px;
}
.hero-section-button .btn-1 {
    display: flex;
    align-items: center;      
    justify-content: center;  
    gap: 8px;              
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    background-color: rgba(70, 145, 101, 1);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.hero-section-button .btn-2 {
    display: flex;
      align-items: center;      
    justify-content: center;    
    gap: 8px;              
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 12px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.open-btn button {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #30B868;
    color: #30B868;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
   
    gap: 8px;
    
}
.open-btn {
    display: flex;
    justify-content: center;
}


.open-btn button img {
    width: 16px;
    height: 16px;
   
}